<form>
  <p>
    <mat-form-field>
      <mat-label>Format name</mat-label>
      <input matInput readonly value="Daily Weekday 38pp" />
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Product</mat-label>
      <input matInput readonly value="The Atex Daily News" />
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        matInput
        maxlength="255"
        value="Standard daily weekday book for DNWS"
      ></textarea>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
</form>
