.spreadContainer {
  display: grid;
  gap: 10px;
  background-color: #eee;
  padding: 20px;
}

.spreadBox {
  display: flex;
  gap: 5px;
}

.pageBox {
  flex: 1 1 0;
  overflow: hidden;
  box-shadow: 1px 1px 2px 1px #7c7c7c;
  background-color: white;
}

.centreGutter {
  display: none;
}

.centreSpread {
  gap: 0px;
}

.centreSpread .centreGutter {
  display: block;
  width: 5px;
  box-shadow: 1px 1px 2px 1px #7c7c7c;
  background-color: white;
}

.pageBox.nullPageBox {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgb(115, 222, 255);
  padding: 0px 2px 2px 2px;
}

.pageLeft .pageNumber {
  padding-right: 3px;
}

.pageRight .pageNumber {
  padding-left: 3px;
}

.pageSectionNameWrapper {
  overflow: hidden;
}

.pageSectionName {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.adShape {
  /* fill: rgba(255, 196, 0, 0.274); */
  fill: rgb(255, 255, 255);
}

.reserveShape {
  fill: rgba(255, 0, 0, 0.205);
}

.shape {
  stroke: rgba(105, 105, 105, 0.753);
}

.shapeCross {
  stroke: rgba(105, 105, 105, 0.753);
}
