<mat-toolbar color="primary">

    <mat-label class="label-inline">Zoom:</mat-label>
    <mat-select [(value)]="currentLayoutWidthPages">
      <mat-option *ngFor="let value of layoutWidthOptions" [value]="value"> {{ value }} Pages </mat-option>
    </mat-select>

</mat-toolbar>

<div class="spreadContainer" *ngIf="currentLayoutWidthPages === 1">
  <ng-container *ngFor="let page of pages">
    <ng-container *ngTemplateOutlet="templatePageBox; context: { page: page }"></ng-container>
  </ng-container>
</div>
<div
  class="spreadContainer"
  *ngIf="currentLayoutWidthPages > 1"
  [ngStyle]="{ 'grid-template-columns': 'repeat(' + currentLayoutWidthPages / 2 + ', 1fr)' }"
>
  <ng-container *ngFor="let spread of spreads">
    <ng-container *ngTemplateOutlet="templateSpreadBox; context: { spread: spread }"></ng-container>
  </ng-container>
</div>
<ng-template #templateSpreadBox let-spread="spread">
  <div class="spreadBox">
    <ng-container *ngTemplateOutlet="templatePageBox; context: { page: spread[0] }"></ng-container>
    <ng-container *ngTemplateOutlet="templatePageBox; context: { page: spread[1] }"></ng-container>
  </div>
</ng-template>
<ng-template #templatePageBox let-page="page">
  <div class="pageBox" [ngClass]="{ nullPageBox: page === null }">
    <div *ngIf="page !== null">
      <div class="pageHeader" [ngStyle]="{ 'text-align': page.no % 2 === 0 ? 'left' : 'right' }">{{ page.sec + page.no }}</div>
      <svg [attr.viewBox]="'0 0 ' + page.w + ' ' + page.h" xmlns="http://www.w3.org/2000/svg">
        <rect
          class="shape"
          [ngClass]="{ adShape: s.t === 1, reserveShape: s.t === 2 }"
          *ngFor="let s of page.shapes"
          [attr.x]="s.x + 1"
          [attr.y]="s.y + 1"
          [attr.width]="s.w - 2"
          [attr.height]="s.h - 2"
          stroke-width="1"
          vector-effect="non-scaling-stroke"
        />
      </svg>
    </div>
  </div>
</ng-template>
