@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, 'Helvetica Neue', Arial, sans-serif;

  font-size: 13px;
}

.mat-form-field {
  width: 100%;
}

.button-panel {
  text-align: right;
}

.button-panel button + button {
  margin-left: 10px;
}

mat-toolbar.mat-toolbar mat-label {
  font-size: 0.7rem;
  margin-right: 5px;
}

mat-toolbar.mat-toolbar mat-select.mat-select .mat-select-value-text {
  font-size: 0.8rem;
}

mat-toolbar.mat-toolbar mat-select.mat-select {
  font-size: 0.9rem;
  width: auto;
}