<form>
  <p>
    <mat-form-field>
      <mat-label>Page number</mat-label>
      <input matInput readonly value="5" />
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Plate number</mat-label>
      <input matInput readonly value="5" />
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Head Section</mat-label>
      <input matInput readonly value="A" />
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Section</mat-label>
      <mat-select matInput value="Early General News">
        <mat-option value="Back Page">Back Page</mat-option>
        <mat-option value="Classifieds">Classifieds</mat-option>
        <mat-option value="Early General News">Early General News</mat-option>
        <mat-option value="Front Page">Front Page</mat-option>
        <mat-option value="Sport">Sport</mat-option>
        <mat-option value="World">World</mat-option>
      </mat-select>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Page type</mat-label>
      <mat-select matInput value="0">
        <mat-option value="0">0</mat-option>
        <mat-option value="1">1</mat-option>
      </mat-select>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Placement model</mat-label>
      <mat-select matInput value="Top-outside">
        <mat-option value="Top-outside"><mat-icon>home</mat-icon>Top-outside</mat-option>
        <mat-option value="Top-inside"><mat-icon>stacked_bar_chart</mat-icon>Top-inside</mat-option>
        <mat-option value="Bottom-outside">Bottom-outside</mat-option>
        <mat-option value="Bottom-inside">Bottom-inside</mat-option>
        <mat-option value="Top-left">Top-left</mat-option>
        <mat-option value="Top-right">Top-right</mat-option>
        <mat-option value="Bottom-left">Bottom-left</mat-option>
        <mat-option value="Bottom-right">Bottom-right</mat-option>
      </mat-select>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
</form>
